@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Flex:opsz,wght@6..144,1..1000&display=swap');


:root {
	--primary-color: #E4DAC2;
	--primary-color-hover: #D2CABE;
	--background-color: #F4EEE1;
	--text-color: #999999;
	--third-color: #ebcfc4;
}

body {
	margin: 0;
	font-family: 'Google Sans Flex';
}
